<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Hello <%= user.username %></h1>
    <a href="/userAuth/loguot"><button>Logout</button></a><br><br>

    <h2 style="text-align: center;">Please Fill in your Profile </h2>

    <div style="display: flex; justify-content: center; align-items: center;">

      <form action="/addPofile/<%= user.id %>" method="post" >
        <p>
          <label>Full Name</label>
          <input type="text" name="fullName" >
        </p>

        <p>
          <label>Location</label>
          <input type="text" name="location">
        </p>

        <p>
          <label>Job</label>
          <input type="text" name="job">
        </p>

        <p>
          <label>Company</label>
          <input type="text" name="company">
        </p>

        <p>
          <label>Profile Picture</label>
          <input type="text" name="profilePicture">
        </p>
        

        <button type="submit">Add Info</button>
      </form>
    </div>

  
</body>
</html>